<!DOCTYPE html>
<html>
<head>
    <title>Товары</title>
</head>
<body>
    <div>
        <h3>Магазин канцелярских товаров</h3>
        <table border="1" cellpadding="5" cellspacing="0">
            <tr>
                <th>Наименование</th>
                <th>Цена</th>
                <th></th>
            </tr>
            {% for p in products %}
            <tr>
                <td>{{ p.name }}</td>
                <td>{{ p.price }}</td>
                <td><a href="{% url 'buy' p.id %}">Купить</a></td>
            </tr>
            {% endfor %}
        </table>
    </div>
</body>
</html>
